@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

body {
  background: url(./../images/background.png) no-repeat;
  background-size: cover;
}


/* 로그인 페이지 스타일  */
main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-top: 100px;
}

/* 환영 메세지 박스 */
.login{
  color: var(--unnamed, #FEFEFE);
  text-align: center;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';  
  font-size: 36px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -0.72px;
  text-transform: uppercase;
}

.eng {
  margin-top: 24px;

  color: var(--unnamed, #FEFEFE);
  text-align: center;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.36px;
}

.kor {
  color: var(--unnamed, #FEFEFE);
  text-align: center;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.24px;
  margin-bottom: 100px;
}


/* 데스크탑 미디어 */
@media (min-width: 600px){
  body{
    background: url(./../images/background.png) no-repeat;
    background-size: cover;
  }

  main {
    margin-top: 100px;
  }

  .kor {
    margin-bottom: 100px;
  }
}

/* 모바일 미디어 */
@media (max-width: 600px){
  body{
    background: url(./../images/background2.png) no-repeat;
    background-size: cover;
  }

  main {
    margin-top: 70px;
  }

  .kor {
    margin-bottom: 114px;
  }
}
