body {
  background: url(./../images/background.png) no-repeat;
}

@media (min-width: 375px){
  body{
    background: url(./../images/background.png) no-repeat;
  }
}

@media (max-width: 375px){
  body{
    background: url(./../images/background2.png) no-repeat;
  }
}

.welcome {
  background-color: rgb(25, 43, 43);
  border: 2px solid #000;
}

.container {
  background-color: blue;
  border: 2px solid #000;
}

