.component-container {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 1rem;
  padding: 2rem;
}

button {
  border: 0;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

/* 로그인 버튼 */

.sign-in {
  background-color: #e50914;
  border-radius: 4px;
  width: 3.75em;
  height: 1.25em;
  padding: 0.75em 1.25em;
}

.sign-text {
  color: #fff;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  font-size: 0.75em;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.006px;
  white-space: nowrap;
}

/* 30일 무료 이용 */
.free-button {
  align-items: center;
  width: 13.125em;
  height: 3.75em;
  background-color: #e50914;
  padding: 0.9375em 1.25em;

  color: #fff;
  text-align: center;
}

.free-text {
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  font-size: 1.375em;
  line-height: 120%;
  white-space: nowrap;
}

.free-text img {
  font-size: 1rem;
  display: inline-block;
  padding-left: 10px;
}

/* 언어 선택 */
.select-wrap select {
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance:none;
  box-sizing: border-box;
  padding-left: 0.5em;
  width: 7.0625em;
  height: 2.5em;
  margin: 0;
}

select::-ms-expand{
  display:none;
}

.select-wrap { 
  background: url(/images/bi_caret-down-fill.svg) no-repeat 90% 50%;
  display: flex;
  border: 1px solid #757575;
  border-radius: 2px;
  width: 7.0625em;
  height: 2.5em;
  padding: 0.75em 0.625em;
  align-items: center;
}

.select img {
  padding-right: 0.5em;
}

#lang-select option{
  color: #000;
  background-color: #757575;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  font-size: 1em;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 19.2px */
}

.select-wrap select {
  outline: none;
}


