/* 변수 */
:root {
  --gray-500: #c4c4c4;
  --white: #fff;
  --gray-800: #4E4E4E;
  --grayscale-gray-5: #555;
  --blue-600: #0074E9;
}

/* 일시적 background color */

/* .box {
  background: limegreen;
} */

/* .honey {
  background: var(--White, #FFF);
  
} */

/* .handcream {
  background: #ffafaf;
} */

/* .tea {
  background: orange;
} */

/* 초기 설정 */

body, body *, body *::before, body *::after  {
  box-sizing: border-box;
  width: 502px;
  height: 630px;
  font-family: 'Noto Sans KR', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  margin: 10px auto;
  position: relative;
}

/* 박스 설정 */

.box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* 윗 박스 설정 */

.box1 {
  border: 1px solid var(--gray-500);
  width: 502px;
  height: 310px;
  display: grid;
  grid-template-columns: auto auto;
  grid-auto-rows: auto auto auto;
  grid-template-areas: 
  'honeylogo honeyproduct'
  'honeytext honeyproduct'
  '';
}



/* 아랫 박스 설정 */

.box2 {
  /* float: left; */
  /* background: black; */
  height: 310px;
}

/* 꿀생강차 설정 */

.honey-logo {
  width: 112px;
  height: 67px;
  grid-area: honeylogo;
  /* position: absolute;
  top: 75px;
  right: 317px; */
}

.honey-text {
  color: var(--gray-800);
  text-align: center;
  font-family: Noto Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  /* position: absolute;
  top: 155px;
  right: 274px; */
  width: 200px;
  height: 37px;
  grid-area: honeytext;
}

.honey-product {
  width: 222px;
  height: 270px;
  grid-area: honeyproduct;
  /* position: absolute;
  top: 20px;
  right: 28px; */
}

/* 핸드크림 설정 */

.handcream {
  width: 243px;
  height: 310px;
  border: 1px solid var(--gray-500);
  background: #FFF;
  float: left;
  position: relative;
}

.handcream-logo {
  width: 114px;
  height: 42px;
  position: absolute;
  right: 65px;
  top: 14px;
}

.handcream-text {
  color: var(--grayscale-gray-5);
  text-align: center;
  font-family: Noto Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 27px */
  width: 200px;
  height: 27px;
  position: absolute;
  top: 66px;
  right: 22px;
  width: 200px;
  height: 27px;
}

.handcream-product {
  width: 195.005px;
  height: 196px;
  position: absolute;
  right: 24.99px;
  top: 100px;
}

/* 보리차 설정 */

.tea {
  width: 243px;
  height: 310px;
  border: 1px solid var(--gray-500, #C4C4C4);
  float: right;
  background: #FFF;
  position: relative;
}

.tea-logo {
  width: 114px;
  height: 42px;
  position: absolute;
  top: 14px;
  right: 65px;
}

.tea-text {
  color: var(--grayscale-gray-5);
  text-align: center;
  font-family: Noto Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 27px */
  position: absolute;
  top: 66px;
  right: 22px;
  width: 200px;
  height: 27px;
}

.tea-product {
  width: 195.005px;
  height: 196px;
  position: absolute;
  top: 100px;
  right: 24.99px;
}


/* 버튼 및 구매버튼 활성화 */

.button-init {
  width: 42px;
  height: 42px;
  flex-shrink: 0;
  color: rgba(0, 0, 0, 20);
  border: 0;
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: block;
}

.button-buy {
  position: absolute;
  left: 20px;
  bottom: 20px;
  display: none;
  background: var(--blue-600);
  width: 112px;
  height: 42px;
  padding: 0;
  border: 0;
  color: #fff;
  animation-name: fadein;
  animation-duration: 0.2s;
}

.buy-arrow {
  width: 6px;
  height: 10px;
  position: absolute;
  top: 15px;
  right: 18px;
}

.temp {
  position: relative;
}

/* 박스 활성화 */

.box1:hover,
.tea:hover,
.handcream:hover {
  border: 1px solid var(--blue-600);
}


/* 애니메이션 */

@keyframes fadein {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}