body {
  background: url(./images/background.png) no-repeat,  linear-gradient(to top, black,transparent);;
  background-size: cover;
  height: 100%;
}

.main {
  display: flex;
  flex-flow: column nowrap;
  padding: 3.5625em 15.03125em;
}

.infinite, .everywhere {
  text-align: center;
}

.infinite {
  color: var(--White, #FFF);
  text-align: center;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  font-size: 3.75em;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.03px;
}

.everywhere {
  color: var(--White, #FFF);
  text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.55);
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  font-size: 1.25em;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.000625em;
  margin-top: 1.75em;
  margin-bottom: 1.75em;
}

@media (max-width: 768px) {
  body {
    background: url(./images/background2.png) no-repeat;
    background-size: cover;
    height: 100%;
  }

  .main {
    padding: 1.25em 1.125em;
    background: #010101;
  }

  .infinite {
    color: var(--White, #FFF);
    font-size: 2.125em;
  }

  .everywhere{
    font-size: 1.125em;
    letter-spacing: 0.0005625em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
  }

  .input-wrapper {
    flex-flow: column nowrap;
    align-items: center;
  }

  .free-button {
    display: flex;
    height: 2.5em;
    padding: 0.9375em 1.25em;
    margin-top: 0.1875em;
    gap: 0.625em;
    flex-shrink: 0;
    width: clamp(10.625em,10%,13.75em);
    border-radius: 30px;
  }

  .free-text {
    font-size: 0.875em;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: -0.0004375em;
    width: auto;
  }

  .email-input {
    width: clamp(10.625em,80%,19.125em);
    border-radius: 30px;
  }

  .email-input::placeholder {
    color: #aaa;
  }

  .ready {
    width: auto;
    text-align: center;
  }

  .new-member {
    color: var(--White, #FFF);
    text-align: center;
    text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.55);
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    font-size: 0.75em;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: -0.000375em;
    width: auto;
  }
}

@media (max-width: 278px) {
  .main {
    margin-top: 1.875em;
  }
}

